/* Header */
#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    border-bottom: solid 5px #2575fc;
    padding: 6em 0 1em 0;
    position: relative;
    
  }
  
  #header>* {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0;
  }
  
  #header .logo {
    border-bottom: 0;
    color: inherit;
    font-size: 1.125em;
    font-family: var(--font1);
    display: flex;
    align-items: flex-end;
  }
  
  #header strong{
    display: flex;
    align-items: flex-end;
    margin: 0;
  }
  
  
  #header .icons {
    text-align: right;
  }
  
  @media screen and (max-width: 1680px) {
    #header {
      padding-top: 5em;
    }
  }
  
  @media screen and (max-width: 736px) {
    #header {
      padding-top: 6.5em;
    }
  
    #header .logo {
      font-size: 1.25em;
      margin: 0;
    }
  
  
    #header .icons {
      height: 5em;
      line-height: 5em;
      position: absolute;
      right: -0.5em;
      top: 0;
    }
  }

  /* Icons */
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
  }
  
  ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
    position: relative;
    top: 8px;
  }
  
  ul.icons li:last-child {
    padding-right: 0;
  }
  
  ul.icons li .icon {
    color: inherit;
  }
  
  ul.icons li .icon:before {
    font-size: 1.25em;
  }