   .masonry {
	   margin: 20px 0px 50px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 10px;
        gap: 20px;
		font-family:'Airbnb Cereal App';
    }
 .item {
        background-color: #ffffff;
        flex-direction: column;
        box-sizing: border-box;
        
        transition: transform 0.3s;
        display: flex;
        font-size: 1.2em;
        color: #fff;
        overflow: hidden;
    }
    .item:hover #pimage{
        transform: scale(1.1);
		box-shadow: 0 4px 16px rgba(121, 116, 155, 0.3);
    }
.item:hover .AllLearnMore{
        opacity: 1;
    }

.projectt{
  width: 100%;
  height: 100%;
  overflow: hidden;border-radius: 15px;
}

.AllContent{
  padding-top: 50px;
  
}

.text{
  color: black;
}

.item #pimage{
  border-radius: 15px;
  right: 0px;
  width: 100% !important;
  object-fit: cover !important;
  min-height: 400px !important;
  height: inherit;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.item1 { grid-row: span 10; background-color: transparent; }
.item2 { grid-row: span 14; background-color: transparent; }
.item3 { grid-row: span 13; background-color: transparent; }
.item4 { grid-row: span 11; background-color: transparent; }
.item5 { grid-row: span 10; background-color: transparent; }
.item6 { grid-row: span 12; background-color: transparent; }
.item7 { grid-row: span 14; background-color: transparent; }
.item8 { grid-row: span 13; background-color: transparent; }
.item9 { grid-row: span 11; background-color: transparent; }
.item10 { grid-row: span 13; background-color: transparent;}
.item11 { grid-row: span 14; background-color: transparent; }
.item12 { grid-row: span 10; background-color: transparent; }
.item13 { grid-row: span 14; background-color: transparent; }
.item14 { grid-row: span 14; background-color: transparent; }
.item15 { grid-row: span 13; background-color: transparent; }
.item16 { grid-row: span 12; background-color: transparent; }
.item17 { grid-row: span 13; background-color: transparent; }
.item18 { grid-row: span 12; background-color: transparent; }

.AllLearnMore
{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 2px solid;
  border-color: #2575fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2575fc !important;
  font-size: 15px;
  cursor: pointer;
}

.AllLearnMore:hover{
    background-color: #2575fc;
    color: white !important;
}

.AllAppIcon{
  margin: 15px;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}
.AllAppIcon img{
  transform:scale(0.65);
}
	 @media screen and (max-width: 480px){
	 .item{
	 grid-row: span 10;
	 }