
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --font3: "Urbanist", sans-serif; 
  --font2: "Oswald", sans-serif;
  --font1: "Bricolage Grotesque", sans-serif;
  --bgcolor-light: #eef1f5;
  --fontcolor-light: #161616;
  
  --bgcolor-dark: #0f0d17;
  --fontcolor-dark: #d3d3d3;
}

   .masonry {
	   margin: 20px 0px 50px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 10px;
        gap: 20px;
		font-family:'Airbnb Cereal App';
    }
 .item {
        background-color: inherit;
        flex-direction: column;
        box-sizing: border-box;
        
        transition: transform 0.3s;
        display: flex;
        font-size: 1.2em;
        color: inherit;
        overflow: hidden;
    }

    .item:hover #pimage{
        transform: scale(1.1);
  		  box-shadow: 0 4px 16px rgb(0, 0, 0);
    }

    .item:hover #pimage1{
      transform: scale(1.1);
      box-shadow: 0 4px 16px rgb(0, 0, 0);
  }

.item:hover .AllLearnMore{
        opacity: 1;
    }

.projectt{
  width: 100%;
  height: 100%;
  overflow: hidden;border-radius: 15px;
}

.AllContent{
  padding-top: 50px;
  
}

.text{
  color: inherit;
}

.item #pimage1{
  border-radius: 15px;
  right: 0px;
  width: 100% !important;
  object-fit: cover !important;
  height: inherit;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.item #pimage{
  border-radius: 15px;
  right: 0px;
  width: 100% !important;
  object-fit: cover !important;
  min-height: 400px !important;
  height: inherit;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.item1 { grid-row: span 11; background-color: transparent; }
.item2 { grid-row: span 12; background-color: transparent; }
.item3 { grid-row: span 13; background-color: transparent; }
.item4 { grid-row: span 11; background-color: transparent; }
.item5 { grid-row: span 10; background-color: transparent; }
.item6 { grid-row: span 15; background-color: transparent; }
.item7 { grid-row: span 12; background-color: transparent; }
.item8 { grid-row: span 13; background-color: transparent; }
.item9 { grid-row: span 11; background-color: transparent; }
.item10 { grid-row: span 13; background-color: transparent;}
.item11 { grid-row: span 14; background-color: transparent; }
.item12 { grid-row: span 10; background-color: transparent; }
.item13 { grid-row: span 14; background-color: transparent; }
.item14 { grid-row: span 14; background-color: transparent; }
.item15 { grid-row: span 13; background-color: transparent; }
.item16 { grid-row: span 12; background-color: transparent; }
.item17 { grid-row: span 13; background-color: transparent; }
.item18 { grid-row: span 12; background-color: transparent; }

.AllLearnMore
{
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: 2px solid;
  border-color: #2575fc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2575fc !important;
  font-size: 15px;
  cursor: pointer;
}

.AllLearnMore:hover{
    background-color: #2575fc;
    color: white !important;
}

.AllAppIcon{
  margin: 15px;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}
.AllAppIcon img{
  transform:scale(0.65);
}
	 
@media screen and (max-width: 480px){
.item{
  grid-row: span 10;
}
}

/* Light / Dark Mode*/
#modetoggle {
  position: relative;
  display: flex;
}

.mode {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fontcolor-dark);
cursor: pointer;
}


.sun, .moon{
transition: opacity 0.2s ease, transform 0.5s ease, color 0.3s ease-in-out;
font-size: 24px;
}

.sun{
opacity: 1;
transform: scale(1);
}

.sun:hover{
  color: #2575fc !important;
}

.moon{
opacity: 0;
transform: scale(0);
right: 15px;
}

.moon:hover{
  color: #2575fc !important;
}

.light-mode .moon{
opacity: 1;
transform: scale(1);
color: var(--fontcolor-light);
font-size: 34px !important;
}

.light-mode .sun{
opacity: 0;
transform: scale(0);
}

.dark-mode {
  background-color: var(--bgcolor-dark);
  color: var(--fontcolor-dark);
}

.light-mode {
  background-color: var(--bgcolor-light) !important;
  color: var(--fontcolor-light);
}